/* KHTML fix stylesheet */
/* work around the horizontal scrollbars */
#column-content { margin-left: 0; }


/*
     FILE ARCHIVED ON 03:20:16 May 03, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:56:12 Jul 07, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.541
  exclusion.robots: 0.044
  exclusion.robots.policy: 0.01
  esindex: 0.009
  cdx.remote: 20.765
  LoadShardBlock: 528.534 (3)
  PetaboxLoader3.datanode: 368.088 (4)
  PetaboxLoader3.resolve: 603.388 (3)
  load_resource: 482.059
*/